.goods {
  @include bg;
  background-image: url('/src/img/bgs/goods-bg.jpg');
  background-position-y: bottom;
  padding-bottom: 120px;
  padding-top: 74px;
  color: white;
  position: relative;
  z-index: 2;

  @media (max-width: 650px) {
    padding-top: 45px;
    padding-bottom: 96px;
  }
}

.goods__swiper-box {
  position: relative;
}

.goods__title {
  @include h2;
  text-transform: none;
  text-align: center;
  @include max-width(730px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  span {
    color: $green;
  }
}

.goods__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-bottom: 40px;
  @include mobile-mb;
}

.goods__item {
  @include max-width(256px);
}

.goods__item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @media (max-width: 650px) {
    width: 165px;
    height: auto;
  }
}

.goods__item-text {
  text-align: center;
  @include h4;
  margin-bottom: 0;
}

.goods__note-box {
  min-height: 163px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23FAA900FF' stroke-width='3' stroke-dasharray='15%2c 18 ' stroke-dashoffset='18' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 30px;
  padding-left: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  @include max-width(1100px);
  margin-left: auto;
  margin-right: auto;

  &::before {
    position: absolute;
    left: 45px;
    @include y-align;
    content: url('/src/img/icons/warning.svg');

    @media (max-width: 650px) {
      content: none;
    }
  }

  @media (max-width: 650px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.goods__note-text {
  @include h4;
  margin-bottom: 0;

  span {
    color: $yellow;
  }
}
