.slider-island,
.slider-shop {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -2px;
}

.slider-island__wrapper,
.slider-shop__wrapper {
  overflow: hidden;
  width: 100%;
}

.slider-island__img-box,
.slider-shop__img-box {
  display: flex;
  justify-content: space-between;
  touch-action: pan-y;
  user-select: none;
}

.slider-island__img-item,
.slider-shop__img-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  img {
    pointer-events: none;
  }
}

.slider-island__nav-box,
.slider-shop__nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  @include x-align;
  bottom: 12px;
  gap: 24px;
}

.slider-island__nav-item {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #69b100;

  &_active {
    width: 24px;
    height: 24px;
    border: 2px solid #ffffff;
    background: #69b100;
  }
}

.slider-shop__nav-item {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid $yellow;

  &_active {
    width: 24px;
    height: 24px;
    border: 2px solid #ffffff;
    background: $yellow;
  }
}
