.slider-island,
.slider-shop {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -2px;

  @media (max-width: 650px) {
    height: 194px;
  }

  img {
    border-radius: 0 0 10px 10px;
    border: 3px solid #faa900;
  }
}

.slider-island {
  img {
    border: 3px solid #69b100;
  }
}

.slider-island__wrapper,
.slider-shop__wrapper {
  overflow: hidden;
  width: 100%;

  @media (max-width: 650px) {
    height: 194px;
  }
}

.slider-island__img-box,
.slider-shop__img-box {
  display: flex;
  justify-content: space-between;
  touch-action: pan-y;
  user-select: none;

  @media (max-width: 650px) {
    height: 194px;
  }
}

.slider-island__img-item,
.slider-shop__img-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  @media (max-width: 650px) {
    height: 194px;
  }

  img {
    pointer-events: none;

    @media (max-width: 650px) {
      height: 194px;
      width: 100%;
    }
  }
}

.slider-island__nav-box,
.slider-shop__nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  @include x-align;
  bottom: 12px;
  gap: 24px;
}

.slider-island__nav-item {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #69b100;

  &_active {
    width: 24px;
    height: 24px;
    border: 2px solid #ffffff;
    background: #69b100;
  }
}

.slider-shop__nav-item {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid $yellow;

  &_active {
    width: 24px;
    height: 24px;
    border: 2px solid #ffffff;
    background: $yellow;
  }
}
